<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">
    <dist:module dist:instant="false" dist:title="@string/npu_qualcomm_runtime">
        <dist:delivery>
            <dist:install-time>
                <dist:conditions>
                    <dist:device-groups>
                        <dist:device-group dist:name="qualcomm_v68"/>
                        <dist:device-group dist:name="qualcomm_v69"/>
                        <dist:device-group dist:name="qualcomm_v73"/>
                        <dist:device-group dist:name="qualcomm_v75"/>
                        <dist:device-group dist:name="qualcomm_v79"/>
                        <dist:device-group dist:name="qualcomm_v81"/>
                    </dist:device-groups>
                </dist:conditions>
            </dist:install-time>
        </dist:delivery>
        <dist:fusing dist:include="true"/>
    </dist:module>
    <!-- Native libraries only. -->
    <application android:hasCode="false"/>
</manifest>
